<!-- footer area start -->
<footer class="footer-area pd-top-100">
  <div class="footer-inner padding-top-100 padding-bottom-65">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="footer-widget widget">
            <div class="logo">
              <img
                src="/img/logo_trinity_diner.png"
                alt="img"
                width="200"
                height="200"
              />
            </div>
            <ul class="contact_info_list">
              <li class="single-info-item">
                <img src="/img/icon/location.png" alt="icon" />
                <div class="details">
                  7255 Dixie Hwy Ste. D, Fairfield, OH 45014
                </div>
              </li>
              <li class="single-info-item">
                <img src="/img/icon/envelope.png" alt="icon" />
                <div class="details">trinitydinerr@gmail.com</div>
              </li>
              <li class="single-info-item">
                <img src="/img/icon/phone.png" alt="icon" />
                <div class="details">(513) 426-8634</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-widget widget widget_link">
            <h4 class="widget-title">Hot On Menu</h4>
            <ul>
              <li><a href="/menu">Jollof Rice</a></li>
              <li><a href="/menu">Fried Rice</a></li>
              <li><a href="/menu">Waakye</a></li>
              <li><a href="/menu">Fufu</a></li>
              <li><a href="/menu">Banku</a></li>
              <li><a href="/menu">Rice Balls</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-widget widget widget_link">
            <h4 class="widget-title">Opening Hours</h4>
            <ul>
              <li>Monday : 09.00am-10.00pm</li>
              <li>Tuesday : 09.00am-10.00pm</li>
              <li>Wednesday : 09.00am-10.00pm</li>
              <li>Thursday : 09.00am-10.00pm</li>
              <li>Friday : 09.00am-10.00pm</li>
              <li>Saturday & Sunday : <span>Closed</span></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="footer-widget widget widget_instagram_feeds">
            <h4 class="widget-title">Facebook Feeds</h4>
            <ul>
              <li>
                <a href="#"
                  ><img src="/img/facebook/feed1.png" alt="facebook"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="/img/facebook/feed2.png" alt="facebook"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="/img/facebook/feed3.png" alt="facebook"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="/img/facebook/feed4.png" alt="facebook"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="/img/facebook/feed5.png" alt="facebook"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="/img/facebook/feed6.png" alt="facebook"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-md-start text-center">
          <div class="copyright-area">
            <p>
              © 2021 Trinity Diner. All Rights Reserved by Joseph Ofori Amanfo
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <ul class="social-area text-md-end text-center mt-md-0 mt-2">
            <li>
              <a href="https://www.facebook.com/trinitydiner/"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer area end -->
