<header class="navbar-area">
  <nav class="navbar navbar-expand-lg">
    <div class="container nav-container">
      <div class="responsive-mobile-menu">
        <button
          class="menu toggle-btn d-block d-lg-none"
          data-target="#themefie_main_menu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-left"></span>
          <span class="icon-right"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="themefie_main_menu">
        <ul class="navbar-nav menu-open">
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="/menu">MENU</a>
          </li>
          <li>
            <a href="/about">ABOUT US</a>
          </li>
          <li>
            <a href="/contact">CONTACT US</a>
          </li>
        </ul>
      </div>
      <div class="logo">
        <a class="main-logo" href="/"
          ><img
            src="/img/logo_trinity_diner.png"
            alt="img"
            width="200"
            height="200"
        /></a>
      </div>
      <div class="nav-right-part nav-right-part-mobile">
        <ul>
          <li class="account_status d-md-block d-none">
            <a href="/signin"><i class="far fa-user-circle"></i> SIGN IN</a>
          </li>
          <li class="menu-cart">
            <a href="/cart">CART <span>0</span></a>
          </li>
          <li>$0.00</li>
        </ul>
      </div>
      <div class="nav-right-part nav-right-part-desktop">
        <ul>
          <li class="account_status">
            <a href="/signin"><i class="far fa-user-circle"></i> SIGN IN</a>
          </li>
          <li class="menu-cart">
            <a href="/cart">CART <span>1</span></a>
          </li>
          <li>$40.00</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
