<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

    <!-- Banner Area Start-->
    <section class="banner-area">
        <div class="banner-thumb">
            <img src="/img/banner/jollof_rice_t.png" alt="img">
        </div>
        <div class="banner-bg-img"></div>
        <div class="banner-shape-1"><img src="/img/banner/shape-1.png" alt="img"></div>
        <div class="banner-shape-2"><img src="/img/banner/shape-2.png" alt="img"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 align-self-center">
                    <div class="banner-inner text-center">
                        <h3>Do not miss it!</h3>
                        <h1>Jollof Rice tastes better than skinny feels.</h1>
                        <a class="btn btn-secondary" href="/fooditem">ORDER NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End --> 

       <!-- popular Area Start-->
       <section class="populer-area pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h3 class="sub-title">Our signature</h3>
                        <h2 class="title">Popular Dishes</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/jollof_rice_t.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="/fooditem">Jollof Rice</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (200)
                                </div>
                                <h6 class="price">$17.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="/fooditem">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/fried_rice_t.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="/fooditem">Fried Rice</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (928)
                                </div>
                                <h6 class="price">$29.00</h6>
                            </div>
                            <div class="btn-area">
                                <a class="btn btn-secondary" href="/fooditem">CHOOSE OPTIONS </a>         
                            </div>                                               
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/waakye.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="/fooditem">Waakye</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (462)
                                </div>
                                <h6 class="price">$27.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="/fooditem">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/waakye.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="/fooditem">Waakye</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (462)
                                </div>
                                <h6 class="price">$27.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="/fooditem">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/waakye.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="/fooditem">Waakye</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (462)
                                </div>
                                <h6 class="price">$27.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="/fooditem">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/waakye.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="/fooditem">Waakye</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (462)
                                </div>
                                <h6 class="price">$27.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="/fooditem">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
            </div>
            <a class="btn btn-secondary" href="/menu">Full Menu<i class="fas fa-angle-right"></i></a>
        </div>
    </section>

    <!-- popular Area End -->
    

    
    <!-- product Area End -->

 

    <!-- featured Area Start-->
    <section class="featured-area pd-bottom-150" style="background-image: url(/img/overlay.png);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center">
                        <h3 class="sub-title text-secondary">Tasty how The new</h3>
                        <h2 class="title text-white">Meet Your New Lunchtime Faves</h2>
                        <a class="btn btn-base" href="/menu">SEE ALL MENU</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- featured Area End -->

    <!-- about Area Start-->
    <section class="about-area pd-top-120 pd-bottom-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="thumb mb-lg-0 mb-4">
                        <img src="/img/other/about_trinity.png" alt="img">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-title text-lg-start text-center">
                        <h3 class="sub-title">Why choose us</h3>
                        <h2 class="title">Why we are the best</h2>
                        <p>A, blandit euismod ullamcorper vestibulum enim habitasse. Ultrices tincidunt scelerisque elit enim. A neque malesuada in tortor eget justo mauris nec dolor. Consequat risus vitae, ac ac et preparation. He wanted to serve burgers, fries and beverages that tasted .</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="single-about-wrap">
                                <img src="/img/icon/1.png" alt="img">
                                Fresh food
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single-about-wrap">
                                <img src="/img/icon/2.png" alt="img">
                                Fast Delivery
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single-about-wrap">
                                <img src="/img/icon/3.png" alt="img">
                                Quality Maintain
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single-about-wrap">
                                <img src="/img/icon/4.png" alt="img">
                                24/7 Service
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about Area End -->

   


    <!-- testimonial Area Start-->
    <section class="testimonial-area text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                    <div class="testimonial-slider owl-carousel">
                        <div class="item">
                            <div class="testimonial-wrap">
                                <p>“We have no regrets! I don't know what else to say. It really saves me time and effort. Food is exactly what our business has been lacking”</p>
                                <h3>Julia R. Davis
                                </h3>
                                <h6>Food Bloger</h6>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-wrap">
                                <p>“We have no regrets! I don't know what else to say. It really saves me time and effort. Food is exactly what our business has been lacking”</p>
                                <h3>Davis J. Rulia
                                </h3>
                                <h6>Food Bloger</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial Area End -->

    <%- include("./partials/footer.ejs") %>
    

    <!-- back-to-top end -->
    <div class="back-to-top">
        <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
    </div>

    

    <!-- all plugins here -->
    <script src="/js/jquery.3.6.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/imageloded.min.js"></script>
    <script src="/js/counterup.js"></script>
    <script src="/js/waypoint.js"></script>
    <script src="/js/magnific.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/nice-select.min.js"></script>
    <script src="/js/fontawesome.min.js"></script>
    <script src="/js/owl.min.js"></script>
    <script src="/js/slick-slider.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tweenmax.min.js"></script>
    <!-- main js  -->
    <script src="/js/main.js"></script>
</body>
</html>