<%- include("./partials/header"); -%> 

    <!-- bredcrumb Area Start-->
    <section class="breadcrumb-area">
        <div class="banner-bg-img"></div>
        <div class="banner-shape-1"><img src="/img/banner/shape-1.png" alt="img"></div>
        <div class="banner-shape-2"><img src="/img/banner/shape-2.png" alt="img"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 align-self-center">
                    <div class="banner-inner text-center">
                        <h3>Choose you items
                        </h3>
                        <h1>OUR MENU</h1>
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Menu Tab</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- bredcrumb Area End --> 
    
    <!-- category Area Start-->
    <section class="category-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 align-self-center">
                    <ul class="category-menu">
                        <li class="category-wrap"><a href="menu.html#"><img src="/img/category/1.png" alt="category">Rice</a>
                            
                        </li>
                        <li class="category-wrap"><a href="#"><img src="/img/category/2.png" alt="category">Meat</a>
                            <div class="category-sub-menu">
                                <div class="row">
                                    <div class="col-md-3 col-6">
                                        <div class="single-item-wrap text-center">
                                            <div class="thumb">
                                                <img src="/img/product/pizza/1.png" alt="img">
                                            </div>
                                            <div class="wrap-details">
                                                <h6><a href="menu.html#">Margherita Pizza</a></h6>                          
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <div class="single-item-wrap text-center">
                                            <div class="thumb">
                                                <img src="/img/product/pizza/2.png" alt="img">
                                            </div>
                                            <div class="wrap-details">
                                                <h6><a href="menu.html#">Maxican Pizza Test Better</a></h6>                          
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <div class="single-item-wrap text-center">
                                            <div class="thumb">
                                                <img src="/img/product/pizza/3.png" alt="img">
                                            </div>
                                            <div class="wrap-details">
                                                <h6><a href="menu.html#">Margherita Pizza</a></h6>                          
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <a href="#"><img src="/img/ad.png" alt="img"></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="category-wrap"><a href="#"><img src="/img/category/3.png" alt="category">Home Delights</a>
                            <div class="category-sub-menu">
                                <div class="row">
                                    <div class="col-md-3 col-6">
                                        <div class="single-item-wrap text-center">
                                            <div class="thumb">
                                                <img src="/img/product/burger/1.png" alt="img">
                                            </div>
                                            <div class="wrap-details">
                                                <h6><a href="menu.html#">Patty Buns Burgers</a></h6>                          
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <div class="single-item-wrap text-center">
                                            <div class="thumb">
                                                <img src="/img/product/burger/1.png" alt="img">
                                            </div>
                                            <div class="wrap-details">
                                                <h6><a href="menu.html#">Maxican Pizza Test Better</a></h6>                          
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <div class="single-item-wrap text-center">
                                            <div class="thumb">
                                                <img src="/img/product/burger/1.png" alt="img">
                                            </div>
                                            <div class="wrap-details">
                                                <h6><a href="menu.html#">Margherita Pizza</a></h6>                          
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <a href="#"><img src="/img/ad.png" alt="img"></a>
                                    </div>
                                </div>
                            </div>                            
                        </li>
                        
                        <li class="category-wrap"><a href="menu.html#"><img src="/img/category/6.png" alt="category">Soft drinks</a>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- category Area End --> 

    <!-- populer Area Start-->
    <section class="populer-area pd-top-50 pd-bottom-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/pizza/1.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="single-product.html">Margherita Pizza</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (200)
                                </div>
                                <h6 class="price">$17.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="single-product.html">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/pizza/2.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="single-product.html">Maxican Pizza Test Better</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (928)
                                </div>
                                <h6 class="price">$29.00</h6>
                            </div>
                            <div class="btn-area">
                                <a class="btn btn-secondary" href="single-product.html">CHOOSE OPTIONS </a>         
                            </div>                                               
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/pizza/3.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="single-product.html">Roasted Garlic Chicken Pizza </a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (462)
                                </div>
                                <h6 class="price">$27.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="single-product.html">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/pizza/4.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="single-product.html">All Season Gulliver Pizza</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (462)
                                </div>
                                <h6 class="price">$29.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="single-product.html">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/pizza/5.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="single-product.html">Chicken Fajita Pizza Large</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (200)
                                </div>
                                <h6 class="price">$29.00</h6>
                            </div>
                            <div class="btn-area">
                                <a class="btn btn-secondary" href="single-product.html">CHOOSE OPTIONS </a>         
                            </div>                                               
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/pizza/6.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="single-product.html">BBQ Chicken Classic Pizza Large</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (602)
                                </div>
                                <h6 class="price">$27.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="single-product.html">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/burger/1.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="single-product.html">Patty Buns Burgers</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (462)
                                </div>
                                <h6 class="price">$27.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="single-product.html">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/burger/2.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="single-product.html">Double Burger</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (928)
                                </div>
                                <h6 class="price">$29.00</h6>
                            </div>
                            <div class="btn-area">
                                <a class="btn btn-secondary" href="single-product.html">CHOOSE OPTIONS </a>         
                            </div>                                               
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-item-wrap">
                        <div class="thumb">
                            <img src="/img/product/burger/1.png" alt="img">
                            <a class="fav-btn" href="#"><i class="ri-heart-line"></i></a>
                        </div>
                        <div class="wrap-details">
                            <h5><a href="single-product.html">Patty Buns Burgers</a></h5>
                            <div class="wrap-footer">
                                <div class="rating">
                                    4.9
                                    <span class="rating-inner">
                                        <i class="ri-star-fill ps-0"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-fill"></i>
                                        <i class="ri-star-half-line pe-0"></i>
                                    </span>
                                    (462)
                                </div>
                                <h6 class="price">$27.00</h6>
                            </div>                            
                        </div>
                        <div class="btn-area">
                            <a class="btn btn-secondary" href="/fooditem">CHOOSE OPTIONS </a>         
                        </div> 
                    </div>
                </div>
                <div class="col-12">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="ri-arrow-left-s-line"></i>
                            </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="ri-arrow-right-s-line"></i>
                            </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- populer Area End -->

<%- include("./partials/footer.ejs") %>   

    <!-- back-to-top end -->
    <div class="back-to-top">
        <span class="back-top"><i class="fas fa-angle-double-up"></i></span>
    </div>

    

    <!-- all plugins here -->
    <script src="/js/jquery.3.6.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/imageloded.min.js"></script>
    <script src="/js/counterup.js"></script>
    <script src="/js/waypoint.js"></script>
    <script src="/js/magnific.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/nice-select.min.js"></script>
    <script src="/js/fontawesome.min.js"></script>
    <script src="/js/owl.min.js"></script>
    <script src="/js/slick-slider.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tweenmax.min.js"></script>
    <!-- main js  -->
    <script src="/js/main.js"></script>
</body>
</html>