<%- include("./partials/head.ejs") %>
    <%- include("./partials/nav.ejs") %>

        <!-- bredcrumb Area Start-->
        <section class="breadcrumb-area">
            <div class="banner-bg-img"></div>
            <div class="banner-shape-1">
                <img src="/img/banner/shape-1.png" alt="img" />
            </div>
            <div class="banner-shape-2">
                <img src="/img/banner/shape-2.png" alt="img" />
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 align-self-center">
                        <div class="banner-inner text-center">
                            <h3>Checkout</h3>
                            <h1>Your order has been received!</h1>
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- bredcrumb Area End -->
        <!-- about Area End -->

        <!-- testimonial Area Start-->
        <section class="testimonial-area text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-10">
                        <div class="testimonial-slider owl-carousel">
                            <div class="item">
                                <div class="testimonial-wrap">
                                    <p>Thank you for your order!</p>
                                    <h6>Order #
                                        <%=parseInt((orders._id).valueOf(), 11)%>
                                    </h6>
                                    <h6>You will receive a confirmation email shortly.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial Area End -->

        <!-- blog Area Start-->

        <%- include("./partials/footer.ejs") %>