<%- include("./partials/nav.ejs") %><%- include("./partials/head.ejs") %>
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <%- include("./partials/side.ejs") %>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row purchace-popup">
          <div class="col-12 stretch-card grid-margin">
            <div class="card card-secondary">
              <span class="card-body d-lg-flex align-items-center">
                <p class="mb-lg-0">
                  Please remember to modify the order status under "Action"!
                </p>
                <button class="close popup-dismiss ml-2">
                  <span aria-hidden="true">&times;</span>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Current Orders</h4>
                <p class="card-description"> </p>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Profile</th>
                      <th>Order No.</th>
                      <th>Created</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Jacob</td>
                      <td>53275531</td>
                      <td>12 November 2021</td>
                      <td><label class="badge badge-danger">Pending</label></td>
                      <td>
                        <div class="dropdown show">
                          <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                          </a>
                        
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Accept</a>
                            <a class="dropdown-item" href="#">Reject/Remove</a>
                            <a class="dropdown-item" href="#">Complete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Messsy</td>
                      <td>53275532</td>
                      <td>15 November 2021</td>
                      <td>
                        <label class="badge badge-warning">In progress</label>
                      </td>
                      <td>
                        <div class="dropdown show">
                          <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                          </a>
                        
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Accept</a>
                            <a class="dropdown-item" href="#">Reject/Remove</a>
                            <a class="dropdown-item" href="#">Complete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>John</td>
                      <td>53275533</td>
                      <td>14 November 2021</td>
                      <td><label class="badge badge-success">Completed</label></td>
                      <td>
                        <div class="dropdown show">
                          <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                          </a>
                        
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Accept</a>
                            <a class="dropdown-item" href="#">Reject/Remove</a>
                            <a class="dropdown-item" href="#">Complete</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Peter</td>
                      <td>53275534</td>
                      <td>16 November 2021</td>
                      <td>
                        <label class="badge badge-success">Completed</label>
                        <td>
                          <div class="dropdown show">
                            <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Action
                            </a>
                          
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="#">Accept</a>
                              <a class="dropdown-item" href="#">Reject/Remove</a>
                              <a class="dropdown-item" href="#">Complete</a>
                            </div>
                          </div>
                        </td>
                      </td>
                    </tr>
                    <tr>
                      <td>Dave</td>
                      <td>53275535</td>
                      <td>20 May 2017</td>
                      <td>
                        <label class="badge badge-warning">In progress</label>
                        <td>
                        <div class="dropdown show">
                          <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                          </a>
                        
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="action" name="order-action">
                            <a class="dropdown-item" href="#" name="accept">Accept</a>
                            <a class="dropdown-item" href="#" name="reject">Reject/Remove</a>
                            <a class="dropdown-item" href="#" name="complete">Complete</a>
                          </div>
                        </div>
                        </li>
                        </td>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
       
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->
      <%- include("./partials/foot.ejs") %>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/vendors/chart.js/Chart.min.js"></script>
<script src="/vendors/moment/moment.min.js"></script>
<script src="/vendors/daterangepicker/daterangepicker.js"></script>
<script src="/vendors/chartist/chartist.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/js/off-canvas.js"></script>
<script src="/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/js/dashboard.js"></script>
<!-- End custom js for this page -->
